---
---

@import "minimal-light";
/* Basic info lines – equal font size */

position,
email, 
autocolor {
  font-size: 1rem !important;
}

email {
  font-family: inherit !important; 
  font-size: 1rem !important;      
}
